<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Matches</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/tc.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <style media="screen">
    .match {
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 3px 3px 10px black;
      margin: 30px;
      padding: 5px;
    }
    .match:hover {
      box-shadow: 6px 6px 10px black;
    }
  </style>

  </head>
  <body>
    <nav class="nav_header-container">
      <div class="nav-wrapper">
        <h3 class="nav-header" style="" ><a href="/dashboard"> techConnect<i class="fas fa-globe"> </i> </a></h3>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-img-profile">
          <li><a href="/dashboard">Dashboard</a></li>
          <li class="active"><a href="/matches">Matches</a></li>
          <li><a href="/logout">Logout</a></li>
          <li class="nav-img-profile"><a class="nav-img-profile"href="/profile"> <img class="small-image-circle nav-img" src="<%= user.img_url %>" alt="Profile"> </a></li>
        </ul>
      </div>
    </nav>
    <% if (confirmedMatches.length >= 1) {
      for (let i = 0; i < confirmedMatches.length; i++) { %>
        <a style="text-decoration: none; color: inherit;"href="/user_two_profile/<%= confirmedMatches[i].id %>">
          <div class="match">
            <div class="pic_user_container">
              <img class="small-image-circle" src="<%= confirmedMatches[i].img_url %>" alt="Profile Image">
              <h4 class="match_content"><%= confirmedMatches[i].username %></h4>
          </div>
            <h5 class="match_content">Age: <%= confirmedMatches[i].age %></h5>
            <p class="match_content"><%= confirmedMatches[i].bio %></p>
          </div>
        </a>
      <% }
    } else { %>
      <h1 class="no_more">You don't have any matches yet!</h1>
    <% } %>
  </body>
</html>
