<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/tc.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <style media="screen">
    .match {
      border: 1px solid black;
      margin: 30px;
      padding: 5px;
    }
  </style>

  </head>
  <body>
    <nav class="nav_header-container">
      <div class="nav-wrapper">
        <h3 class="nav-header" style="" >techConnect<i class="fas fa-globe"></i></h3>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/dashboard">Dashboard</a></li>
          <li class="active"><a href="/matches">Matches</a></li>
          <li><a href="/messages">Messages</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/profile"> <img class="small-image-circle nav-img" src="<%= user.img_url %>" alt="Profile"> </a></li>
        </ul>
      </div>
    </nav>
    <% if (confirmedMatches.length >= 1) {
      for (let i = 0; i < confirmedMatches.length; i++) { %>
        <div class="match">
          <h4><%= confirmedMatches[i].username %></h4>
          <img class="small-image-circle" src="<%= confirmedMatches[i].img_url %>" alt="Profile Image">
          <h5>Age: <%= confirmedMatches[i].age %></h5>
          <p><%= confirmedMatches[i].bio %></p>
        </div>
      <% }
    } else { %>
      <h1>You don't have any matches yet!</h1>
    <% } %>
  </body>
</html>
