<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<link rel="stylesheet" href="/static/stylesheets/tc.css">
        

    <style>
        .container, h3{
          width:300px;
          dispaly:block;
          
          margin:0 auto;
        }
        label{position:relative;
        float:left;}
        input{
          align-items:left;
          margin:4;
        }
         img{}
         button{border-radius:6px;
         background-color:#333;
         color:#fff;  
          margin-top:7px;
        position:relative;
      width:100px;      }
  
      button:hover{
      background-color:#ccc;
      color:#000;
   }
   .bio{
     position:relative;
     float:left;
     top:-2px;
   }
   textarea{margin-top:4px; margin-left:40px;}
    </style>
  </head>
  <body>
    
    <p><h3><%= user.username %></h3></p>
    <p><img src="<%= user.img_url%>" height="100" width="100">
    
    <div class="container">
    <form class="" action="/update/<%=user.id%>" method="post">
    <input type="hidden" name="username" value="<%=user.username%>">
     <label>First Name: <input type="text" name="fname" value="<%=user.fname%>">
      </label><label>Last Name: <input type="text" name="lname" value="<%=user.lname%>">
     </label><label><div class="bio"> Bio: </div><textarea name="bio" rows="8" cols="20"><%=user.bio %></textarea>
     </label><label>Age: <input required type="number" name="age"  value="<%=user.age%>" min="18">
     </label><label>Zipcode: <input maxlength="5" minlength="5" type="text" name="zipcode"  value="<%=user.zipcode%>">
     </label><label>Image Url:<input id="img_url" type="text" name="img_url"  value="<%=user.img_url%>">
      <button type="submit" name="">Submit</button>
    </form>
  </div>
  <script type="text/javascript">
    const myForm = document.querySelector('form');

    myForm.addEventListener('submit', function () {
      let input = myForm.querySelector('#img_url');
      if (!input.value) {
        input.name = '';
      }
    });

  </body>
</html>
